<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FacturaConexion"
			 connectionString="Data Source=PC-ELVINH5;Initial Catalog=Soporte Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>